/* Custom properties */

:root {
  --section-gup-lg: 1.25rem;
  --section-gup-md: 0.9375rem;
  --section-gup-sm: 0.625rem;
  --section-padding-lg: 1.875rem;
  --section-padding-md: 1.25rem;
  --section-padding-sm: 0.625rem;

  --neutral-1: hsl(0, 0%, 95%);
  --neutral-2: hsl(0, 0%, 80%);
  --neutral-3: hsl(0, 0%, 65%);
  --neutral-4: hsl(0, 0%, 55%);
  --neutral-5: hsl(0, 0%, 40%);
  --neutral-6: hsl(0, 0%, 35%);
  --neutral-7: hsl(0, 0%, 20%);
  --neutral-8: hsl(0, 0%, 15%);
  --neutral-9: hsl(0, 0%, 10%);
  --neutral-10: hsl(0, 0%, 5%);

  --black-1: hsla(0, 0%, 0%, 1);
  --black-a1: hsla(0, 0%, 0%, 0.7);
  --black-a2: hsla(0, 0%, 0%, 0.4);

  --white-1: hsla(0, 0%, 100%, 1);
  --white-a1: hsla(0, 0%, 100%, 0.8);
  --white-a2: hsla(0, 0%, 100%, 0.7);
  --white-a3: hsla(0, 0%, 100%, 0.5);
  --white-a4: hsla(0, 0%, 100%, 0.2);

  --red-1: hsla(0, 74%, 52%, 1);
  --red-2: hsla(0, 74%, 42%, 1);
  --red-3: hsla(0, 74%, 32%, 1);

  --blue-1: hsla(183, 76%, 46%, 1);
  --blue-2: hsla(183, 76%, 36%, 1);
  --blue-3: hsla(183, 76%, 26%, 1);

  --green-1: hsla(130, 55%, 50%, 1);
  --green-2: hsla(130, 80%, 40%, 1);
  --green-3: hsla(130, 80%, 30%, 1);

  --font-family-common: "Roboto", sans-serif;

  --transition-ease-1: 0.2s ease;
  --transition-ease-2: 0.4s ease;
  --transition-ease-3: 0.6s ease;
}

/* Global styling */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  scrollbar-gutter: stable; /* or "auto" */
}

body {
  font-size: 1rem;
  font-weight: 400;
  font-family: var(--font-family-common);
  line-height: 1.4;
}
body[data-css-theme="winter"] {
  background:
    url("../images/bg-page-winter.jpg") center / cover fixed no-repeat,
    #ffffff;
}
body[data-css-theme="summer"] {
  background:
    url("../images/bg-page-summer.jpg") center / cover fixed no-repeat,
    #ffffff;
}

/* Layout styling */

.wrapper {
  width: min(76.25rem, calc(100% - 3.75rem));
  margin-inline: auto;
  padding-bottom: 6.25rem;
}
@media (max-width: 48em) {
  .wrapper {
    width: calc(100% - 2.5rem);
    padding-bottom: 3.125rem;
  }
}
@media (max-width: 36em) {
  .wrapper {
    width: calc(100% - 1.25rem);
    padding-bottom: 1.25rem;
  }
}

/* Components */

.title {
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  margin: 0;
}

.subtitle {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
  margin: 0;
}

.label {
  color: var(--black-1);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0;
}

.photo {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
  object-position: center;
  border-radius: 0.125rem;
}

.button {
  color: inherit;
  text-align: center;
  font-weight: 500;
  line-height: 1.2;
  text-decoration: none;
  padding: 0.5em;
  border-radius: 0.5em;
  border: 1px solid transparent;
  transition: all var(--transition-ease-1);
}
.button:is(:active) {
  transform: scale(0.9375);
}
.button_red {
  color: var(--white-1);
  background: var(--red-1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.button_red:is(:focus, :hover) {
  background: var(--red-2);
}
.button_black {
  color: var(--white-1);
  background: var(--black-1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.button_black:is(:focus, :hover) {
  background: var(--neutral-8);
}

.header {
  padding-block: var(--section-padding-lg) 0;
  padding-inline: var(--section-padding-lg);
  aspect-ratio: 76.25 / 18.75;
  overflow: hidden;
}
.header__banner {
  display: flex;
  align-items: center;
}
.header__logo {
  flex: 0 0 auto;
  width: 9.375rem;
  height: 4.375rem;
  object-fit: contain;
  object-position: left center;
}
.header__line {
  position: relative;
  flex: 1 1 auto;
  margin-left: 0.625rem;
}
.header__line::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0%;
  width: 100%;
  height: 100vh;
  border-top: 3px solid;
  border-right: 3px solid;
  border-top-right-radius: 1.875rem;
}
.header__burger {
  display: none;
}
.header[data-css-theme="winter"] {
  background:
    linear-gradient(0deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%) center / cover no-repeat,
    radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0) 76.68%, #fff 96.87%) center / cover no-repeat,
    linear-gradient(180deg, rgba(255, 255, 255, 0.75) 0%, rgba(0, 0, 0, 0) 17.15%) center / cover no-repeat,
    linear-gradient(270deg, rgba(255, 255, 255, 0.75) 5.49%, rgba(0, 0, 0, 0) 38.03%) center / cover no-repeat,
    linear-gradient(90deg, rgba(255, 255, 255, 0.75) 12.7%, rgba(0, 0, 0, 0) 50%) center / cover no-repeat,
    url("../images/bg-header-winter.jpg") center / cover no-repeat;
}
.header[data-css-theme="summer"] {
  background:
    radial-gradient(100% 100% at 50% 0%, rgba(0, 0, 0, 0) 76.68%, #000 96.87%) center / cover no-repeat,
    linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 17.15%) center / cover no-repeat,
    linear-gradient(270deg, rgba(0, 0, 0, 0.75) 5.49%, rgba(0, 0, 0, 0) 38.03%) center / cover no-repeat,
    linear-gradient(90deg, rgba(0, 0, 0, 0.75) 12.7%, rgba(0, 0, 0, 0) 50%) center / cover no-repeat,
    url("../images/bg-header-summer.jpg") center / cover no-repeat;
}
.header[data-css-theme="winter"] .header__line::before {
  border-color: var(--blue-1);
}
.header[data-css-theme="summer"] .header__line::before {
  border-color: var(--red-1);
}
.header[data-css-theme="summer"] .header__burger {
  background: var(--red-1);
}
@media (max-width: 48em) {
  .header {
    min-height: 8rem;
    aspect-ratio: unset;
    padding-inline: var(--section-padding-md);
  }
  .header__banner {
    position: relative;
    z-index: 200;
    justify-content: space-between;
  }
  .header__line {
    display: none;
  }
  .header__burger {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem 0.25rem 0.75rem;
    background-color: var(--blue-1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .header__burger-text {
    margin-top: 0.125rem;
    color: var(--white-1);
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
  }
  .header__burger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 1.25rem;
    height: 1.25rem;
  }
  .header__burger:is(.is-open) > .header__burger-icon {
    justify-content: center;
  }
  .header__burger-icon > span {
    height: 0.125rem;
    background: var(--white-1);
    transition: all var(--transition-ease-1);
  }
  .header__burger:is(.is-open) > .header__burger-icon > span:nth-child(1) {
    transform: translate(0%, 100%) rotate(45deg);
  }
  .header__burger:is(.is-open) > .header__burger-icon > span:nth-child(2) {
    transform: translate(0%, 0%) scale(0);
  }
  .header__burger:is(.is-open) > .header__burger-icon > span:nth-child(3) {
    transform: translate(0%, -100%) rotate(-45deg);
  }
}
@media (max-width: 36em) {
  .header {
    min-height: 5.5rem;
    padding-block: var(--section-padding-md);
    padding-inline: var(--section-padding-sm);
  }
  .header__logo {
    width: 6.25rem;
    height: 2.9375rem;
  }
}

.navbar {
  position: sticky;
  overflow: hidden;
  z-index: 500;
  margin-bottom: -0.625rem;
  padding-bottom: 0.625rem;
  top: 0;
}
.navbar__menu {
  position: relative;
  padding: 0.625rem var(--section-padding-lg);
  background: var(--white-1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.navbar__menu::before {
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  right: var(--section-padding-lg);
  width: 3px;
  background: var(--blue-1);
}
.navbar__menu-list {
  display: flex;
  align-content: center;
  gap: 1.25rem;
  margin: 0;
  padding: 0;
  list-style: none;
}
.navbar__menu-link {
  color: var(--black-1);
  font-weight: 500;
  line-height: 1.4;
  text-decoration: none;
  transition: color var(--transition-ease-1);
  display: flex;
  align-items: center;
  gap: 0.25em;
}
.navbar__menu-link > svg {
  width: 1.25rem;
  height: 1.25rem;
}
.navbar__menu-link > svg.icon-triangle {
  transform: rotate(90deg);
  margin-bottom: 0.1875em;
}
.navbar__menu-link:is(.is-current) {
  border-bottom: 1px solid var(--red-1);
}
.navbar__menu-link:is(:focus, :hover) {
  color: var(--red-1);
}
.navbar[data-css-theme="summer"] .navbar__menu {
  background: var(--black-1);
}
.navbar[data-css-theme="summer"] .navbar__menu::before {
  background: var(--red-1);
}
.navbar[data-css-theme="summer"] .navbar__menu-link:is(:focus, :hover) {
  color: var(--red-1);
}
.navbar[data-css-theme="summer"] .navbar__menu-link {
  color: var(--white-1);
}
.navbar[data-css-theme="summer"] .navbar__menu-link > svg {
  fill: var(--red-1);
}
@media (max-width: 48em) {
  .navbar {
    position: static;
  }
  .navbar__menu {
    position: fixed;
    inset: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all var(--transition-ease-2);
    z-index: 100;
  }
  .navbar__menu:is(.is-hide) {
    opacity: 0;
    visibility: hidden;
  }
  .navbar__menu:is(.is-show) {
    opacity: 1;
    visibility: visible;
  }
  .navbar__menu::before {
    display: none;
  }
  .navbar__menu-list {
    align-items: center;
    padding-top: 8.375rem;
    padding-inline: var(--section-padding-md);
    flex-direction: column;
  }
  .navbar__menu-link {
    font-size: 1.25rem;
  }
  .navbar__menu-link > svg.icon-triangle {
    margin-bottom: 0;
  }
}
@media (max-width: 36em) {
  .navbar__menu-list {
    padding-top: 6rem;
    padding-inline: var(--section-padding-sm);
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  gap: var(--section-gup-lg);
  padding: var(--section-padding-lg);
  border-radius: 0rem 0rem 3.125rem 3.125rem;
  background:
    linear-gradient(141deg, #fff 21.45%, rgba(255, 255, 255, 0) 77.8%) center / cover no-repeat,
    linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%) center / cover no-repeat,
    url("../images/bg-footer.jpg") center top / cover no-repeat;
}
.footer__summary {
  font-size: 0.75rem;
  font-weight: 500;
  max-width: 26.25rem;
}
.footer__summary > p {
  margin-top: 0;
}
.footer__summary > p + p {
  margin-top: 1em;
}
.footer__contact {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 0.625rem;
}
@media (max-width: 48em) {
  .footer {
    flex-direction: column;
    align-items: center;
    gap: var(--section-gup-md);
    padding: var(--section-padding-md);
    background:
      linear-gradient(180deg, #fff 30%, rgba(255, 255, 255, 0) 130%) center / cover no-repeat,
      linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%) center / cover no-repeat,
      url("../images/bg-footer.jpg") center top / cover no-repeat;
  }
  .footer__summary > p {
    text-align: center;
  }
}

.sidebar {
  position: sticky;
  top: 3.75rem;
  display: flex;
  flex-direction: column;
  gap: var(--section-gup-lg);
  width: 10rem;
}
@media (max-width: 48em) {
  .sidebar {
    position: static;
    width: 100%;
    gap: var(--section-gup-md);
  }
}
@media (max-width: 36em) {
  .sidebar {
    gap: var(--section-gup-sm);
  }
}

.section {
  padding: var(--section-padding-lg);
}
@media (max-width: 48em) {
  .section {
    padding: var(--section-padding-md);
  }
}
@media (max-width: 36em) {
  .section {
    padding-inline: var(--section-padding-sm);
  }
}

.section-media {
  display: flex;
  flex-direction: column;
  gap: var(--section-gup-lg);
  background:
    linear-gradient(180deg, rgba(0, 0, 0, 0.4) 6.25%, rgba(217, 219, 221, 0.4) 100%) center top / 76.25rem 28rem no-repeat,
    linear-gradient(180deg, rgba(217, 219, 221, 0) 80%, rgba(217, 219, 221, 1) 100%) center top / 76.25rem 28rem no-repeat,
    url("../images/bg-section-media.jpg") center top / 76.25rem 28rem no-repeat,
    rgba(217, 219, 221);
}
.section-media__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  gap: var(--section-gup-lg);
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (max-width: 48em) {
  .section-media,
  .section-media__grid {
    gap: var(--section-gup-md);
  }
}
@media (max-width: 36em) {
  .section-media,
  .section-media__grid {
    gap: var(--section-gup-sm);
  }
}

.section-album {
  display: flex;
  flex-direction: column;
  gap: var(--section-gup-lg);
  background:
    linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 96.32%) center top / 76.25rem 28rem no-repeat,
    url("../images/bg-section-album.jpg") center top / 76.25rem 28rem no-repeat,
    #ffffff;
}
.section-album__slider {
  width: min(1040px, 100%);
  margin-inline: auto;
}
.section-album__track {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.section-album__photos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 0.875rem;
  width: min(940px, 100%);
  margin-inline: auto;
  list-style: none;
}
.section-album__photos > a {
  position: relative;
  overflow: hidden;
  border-radius: 0.125rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: all var(--transition-ease-1);
}
.section-album__photos > a::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
    radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.85) 100%);
  transition: all var(--transition-ease-1);
  pointer-events: none;
}
.section-album__photos > a:is(:focus, :hover)::before {
  opacity: 0.375;
}
.section-album__photos > a:is(:active) {
  transform: scale(0.9375);
}
@media (max-width: 48em) {
  .section-album {
    gap: var(--section-gup-md);
  }
  .section-album__slider {
    display: none;
  }
}
@media (max-width: 36em) {
  .section-album {
    gap: var(--section-gup-sm);
  }
}

.section-results {
  display: flex;
  flex-direction: column;
  gap: var(--section-gup-lg);
  background:
    linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0.15) 20.64%, #ffffff 100%) center top / 76.25rem 37.875rem no-repeat,
    url("../images/bg-section-results.jpg") center top / 76.25rem 37.875rem no-repeat,
    #ffffff;
}
.section-results__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: var(--section-gup-lg);
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (max-width: 48em) {
  .section-results,
  .section-results__grid {
    gap: var(--section-gup-md);
  }
  .section-results__grid {
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  }
}
@media (max-width: 36em) {
  .section-results,
  .section-results__grid {
    gap: var(--section-gup-sm);
  }
}

.section-navigator__body {
  display: flex;
  align-items: flex-start;
  gap: var(--section-padding-lg);
}
.section-navigator__sidebar {
  flex: 0 0 auto;
}
.section-navigator__content {
  flex: 1 1 auto;
  width: 100%;
}
@media (max-width: 48em) {
  .section-navigator__body {
    flex-direction: column;
    gap: var(--section-padding-md);
  }
}
@media (max-width: 36em) {
  .section-navigator__body {
    gap: var(--section-padding-sm);
  }
}

.section-navigator {
  display: flex;
  flex-direction: column;
  gap: var(--section-gup-lg);
  background:
    linear-gradient(180deg, rgba(255, 255, 255, 0) 33.08%, #df2929 87.02%) center top / 76.25rem 68.75rem no-repeat,
    url("../images/bg-section-navigator.jpg") center top / 76.25rem 68.75rem no-repeat,
    #df2929;
}
@media (max-width: 48em) {
  .section-navigator {
    gap: var(--section-gup-md);
  }
}
@media (max-width: 36em) {
  .section-navigator {
    gap: var(--section-gup-sm);
  }
}

.section-what {
  display: flex;
  flex-direction: column;
  gap: var(--section-gup-lg);
  background:
    linear-gradient(0deg, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.85) 100%) center / cover no-repeat,
    url("../images/bg-section-what.jpg") center / cover no-repeat,
    #d9d9d9;
}
.section-what__body {
  display: flex;
}
.section-what__text {
  flex: 1 1 auto;
  font-size: 0.9375rem;
  font-weight: 500;
  padding-right: var(--section-gup-lg);
  border-right: 1px solid var(--white-1);
}
.section-what__text > p:first-child {
  margin-top: 0;
}
.section-what__cards {
  flex: 0 0 auto;
  width: 36.25rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;
  gap: var(--section-gup-lg);
  padding-left: var(--section-gup-lg);
  border-left: 1px solid var(--neutral-2);
}
@media (max-width: 64em) {
  .section-what__cards {
    width: 16.875rem;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 48em) {
  .section-what {
    gap: var(--section-gup-md);
  }
  .section-what__body {
    flex-direction: column;
  }
  .section-what__text {
    padding-right: 0;
    padding-bottom: var(--section-gup-md);
    border-right: none;
    border-bottom: 1px solid var(--white-1);
  }
  .section-what__cards {
    padding-top: var(--section-gup-md);
    padding-left: 0;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    border-left: none;
    border-top: 1px solid var(--neutral-2);
  }
}

.results-num {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--black-1);
}
.results-num p {
  color: var(--white-1);
  font-size: 0.875rem;
  font-weight: 700;
  text-align: center;
  margin: 0;
}
.results-pilot {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.results-pilot p {
  font-size: 0.75rem;
  line-height: 1.2;
  margin: 0;
}
.results-pilot p:nth-child(1) {
  font-weight: 700;
}
.results-model {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1.625rem;
}
.results-model::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 1.25rem;
  height: 100%;
  background: url("../icons/icon-suspension.svg") center / contain no-repeat;
}
.results-model p {
  font-size: 0.75rem;
  line-height: 1.2;
  margin: 0;
}
.results-model span {
  font-weight: 700;
}
.results-time {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.2;
  text-decoration-line: underline;
  padding: 0.75em;
}
.results-point {
  align-self: center;
  color: #ffffff;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.2;
  padding: 0.375em 0.375em;
  border-radius: 0.375em;
  background-color: var(--green-1);
}
.results-button {
  color: var(--white-1);
  text-align: center;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.2;
  text-decoration-line: underline;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
  border: none;
  background: var(--black-1);
  cursor: pointer;
}
@media (max-width: 36em) {
  .results-num > p {
    font-size: 0.625rem;
  }
  .results-pilot p {
    font-size: 0.625rem;
  }
  .results-button {
    font-size: 0.625rem;
    padding: 0.5rem;
  }
}

.table {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
}
.table__head {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--neutral-5);
}
.table__head-row {
  display: flex;
  padding-bottom: 0.5rem;
}
.table__head-cell {
  color: var(--neutral-6);
  text-align: center;
  font-size: 0.5625rem;
  font-weight: 500;
  line-height: 1.2;
  text-decoration-line: underline;
}
.table__body {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
.table__body-row {
  display: flex;
  background: var(--white-a1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.table__body-cell {
  display: flex;
}
.table__body-cell:not(:first-child, :last-child) {
  padding-inline: 0.625rem;
  border-left: 1px dashed var(--neutral-3);
}
.table__body-cell:first-child + .table__body-cell {
  border-left: none;
}
.table__head-cell:nth-child(1),
.table__body-cell:nth-child(1) {
  flex: 0 0 auto;
  width: 2.75rem;
}
.table__head-cell:nth-child(2),
.table__body-cell:nth-child(2) {
  flex: 0 0 auto;
  min-width: 14rem;
}
.table__head-cell:nth-child(3),
.table__body-cell:nth-child(3) {
  flex: 1 1 auto;
  min-width: 16rem;
}
.table__head-cell:nth-child(4),
.table__body-cell:nth-child(4),
.table__head-cell:nth-child(5),
.table__body-cell:nth-child(5),
.table__head-cell:nth-child(6),
.table__body-cell:nth-child(6),
.table__head-cell:nth-child(7),
.table__body-cell:nth-child(7),
.table__head-cell:nth-child(8),
.table__body-cell:nth-child(8) {
  flex: 0 0 auto;
  width: 6.5rem;
}
.table__head-cell:nth-child(9),
.table__body-cell:nth-child(9) {
  flex: 0 0 auto;
  width: 5.75rem;
  margin-left: auto;
}
.table__head-cell > *,
.table__body-cell > * {
  width: 100%;
}
@media (max-width: 80em) {
  .table__head-cell:nth-child(4),
  .table__body-cell:nth-child(4),
  .table__head-cell:nth-child(5),
  .table__body-cell:nth-child(5),
  .table__head-cell:nth-child(6),
  .table__body-cell:nth-child(6) {
    display: none;
  }
}
@media (max-width: 64em) {
  .table__head-cell:nth-child(7),
  .table__body-cell:nth-child(7),
  .table__head-cell:nth-child(8),
  .table__body-cell:nth-child(8) {
    display: none;
  }
}
@media (max-width: 48em) {
  .table__head-cell:nth-child(2),
  .table__body-cell:nth-child(2) {
    flex: 1 1 auto;
    min-width: auto;
  }
  .table__head-cell:nth-child(3),
  .table__body-cell:nth-child(3) {
    display: none;
  }
}
@media (max-width: 36em) {
  .table__head-cell:nth-child(1),
  .table__body-cell:nth-child(1) {
    width: 2rem;
  }

  .table__head-cell:nth-child(9),
  .table__body-cell:nth-child(9) {
    width: auto;
  }
}

.splide {
  position: relative;
}
.splide__track {
  margin-inline: 3.125rem;
}
.splide__arrow {
  position: absolute;
  top: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  background: none;
  transform: translateY(-50%);
  z-index: 100;
  cursor: pointer;
  transition: all var(--transition-ease-1);
}
.splide__arrow:is(:focus, :hover) {
  filter: brightness(0.875);
}
.splide__arrow:is(:active) {
  transform: translateY(-50%) scale(0.9375);
}
.splide__arrow--prev {
  left: 0;
  border-width: 3.125rem 1.875rem 3.125rem 0;
  border-color: transparent var(--blue-1) transparent transparent;
}
.splide__arrow:disabled {
  opacity: 0.375;
  pointer-events: none;
}
.splide__arrow--next {
  right: 0;
  border-width: 3.125rem 0 3.125rem 1.875rem;
  border-color: transparent transparent transparent var(--blue-1);
}

.tabs {
  display: flex;
  flex-direction: column;
  gap: var(--section-gup-sm);
}
.tabs__list {
  display: grid;
  gap: 0.4rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
.tabs__button {
  color: var(--black-1);
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 0.625rem;
  width: 100%;
  border: none;
  padding: 0.375em 0.5em;
  background: var(--white-1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: all var(--transition-ease-1);
  cursor: pointer;
}
.tabs__button:is(.is-current) {
  fill: var(--white-1);
  color: var(--white-1);
  background: var(--red-1);
  pointer-events: none;
}
.tabs__button:is(:focus, :hover) {
  fill: var(--white-1);
  color: var(--white-1);
  background: var(--red-2);
}
.tabs__button:is(:active) {
  fill: var(--white-1);
  color: var(--white-1);
  background: var(--red-3);
}
.tabs__button > svg {
  width: 0.875rem;
  height: 0.875rem;
  transform: rotate(-90deg);
}
@media (max-width: 48em) {
  .tabs__list {
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  }
}

.list-social {
  display: flex;
  align-content: center;
  justify-content: flex-end;
  gap: 0.5rem;
  margin: 0;
  padding: 0;
  list-style: none;
}
.list-social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.875rem;
  height: 1.875rem;
  padding: 0.25rem;
  border-radius: 50%;
  background: var(--blue-1);
  transition: var(--transition-ease-1);
}
.list-social__link:is(:focus, :hover) {
  background: var(--blue-2);
}
.list-social__link:is(:active) {
  transform: scale(0.9375);
}
.list-social__link > svg {
  fill: var(--white-1);
}
.list-social__link[data-css-theme="summer"] {
  background: var(--red-1);
}

.list-contact {
  margin: 0;
  padding: 0;
  list-style: none;
}
.list-contact__link {
  color: var(--white-1);
  font-size: 0.8125rem;
  font-weight: 700;
  text-decoration: none;
}
.list-contact__link:is(:focus, :hover) {
  text-decoration: underline;
}

.list-cars {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  gap: var(--section-gup-lg);
  margin: 0;
  padding: var(--section-gup-lg);
  border-radius: 1rem;
  background: var(--neutral-8);
}
@media (max-width: 48em) {
  .list-cars {
    padding: var(--section-gup-md);
    gap: var(--section-gup-md);
  }
}
@media (max-width: 36em) {
  .list-cars {
    padding: var(--section-gup-sm);
    gap: var(--section-gup-sm);
  }
}

.navigator-info {
  display: flex;
  align-items: flex-start;
  gap: var(--section-gup-lg);
}
.navigator-info__text {
  color: var(--black-1);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.4;
  flex: 1 1 auto;
}
.navigator-info__text p {
  margin: 0;
}
.navigator-info__text p + p {
  margin-top: 1em;
}
.navigator-info__banner {
  flex: 0 0 auto;
  width: min(30.25rem, 50%);
}
@media (max-width: 48em) {
  .navigator-info {
    flex-direction: column;
  }
  .navigator-info__banner {
    flex: 0 0 auto;
    width: 100%;
  }
}

.card-banner {
  position: relative;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.card-banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(93deg, #c30000 24.59%, rgba(190, 0, 0, 0) 44.16%),
    linear-gradient(92deg, #df2929 68.02%, rgba(223, 41, 41, 0) 80.77%);
  z-index: 1;
}
.card-banner__img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right center;
}
.card-banner__body {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-right: 40%;
  z-index: 2;
}
.card-banner__title {
  color: var(--white-1);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0;
}
.card-banner__link {
  color: var(--white-a1);
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.4;
  text-decoration: none;
  margin-top: 0.25rem;
}
.card-banner__link:is(:focus, :hover) {
  text-decoration: underline;
}

.card-media {
  position: relative;
  display: flex;
  flex-direction: column;
  aspect-ratio: 17/21;
  box-shadow: 3px 3px 6px 0px rgba(255, 255, 255, 0.15);
}
.card-media__image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 0.125rem;
}
.card-media__body {
  color: var(--white-1);
  text-decoration: none;
  position: relative;
  flex: 1 1 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.625rem;
  padding: 0.625rem;
  z-index: 1;
}
.card-media__body::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 0.125rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%),
    radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.85) 100%);
  z-index: -1;
  pointer-events: none;
  transition: all var(--transition-ease-1);
}
.card-media__body:is(:focus, :hover)::before {
  opacity: 0.75;
}
.card-media__icon {
  width: 1.875rem;
  height: 1.875rem;
  object-fit: contain;
  object-position: center;
  margin-bottom: auto;
}
.card-media__date {
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.2;
  padding: 0.375rem;
  background: var(--red-1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.card-media__name {
  font-weight: 700;
}

.card-results {
  position: relative;
  overflow: hidden;
  border-radius: 0.625rem;
  border: 1px solid #cecece;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.card-results__image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.card-results__body {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  aspect-ratio: 22/14;
  gap: 1.25rem;
  padding: 1.125rem;
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 74.48%);
}
.card-results__date {
  color: var(--white-1);
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 4.125rem;
  font-weight: 900;
  line-height: 1.2;
}
.card-results__name {
  color: var(--white-1);
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.2;
}
.card-results__button {
  font-size: 0.75rem;
  min-width: 8rem;
}

.card-car {
  display: flex;
  flex-direction: column;
  border-radius: 0.625rem;
  background: rgba(55, 88, 113, 0.5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.card-car__name {
  color: rgba(255, 255, 255, 0.5);
  font-size: 2.75rem;
  font-weight: 700;
  line-height: 1.1;
  padding: 0.625rem;
  margin-top: 0;
}
.card-car__image {
  margin: auto 0.625rem;
}
.card-car__info {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  padding: 0.625rem;
}
.card-car__icon {
  width: 1.75rem;
  height: 1.75rem;
  object-fit: contain;
  object-position: center;
}
.card-car__model {
  color: var(--white-1);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.2;
  display: flex;
  align-items: center;
  min-height: 1.75rem;
  padding-left: 0.625rem;
  border-left: 1px solid var(--white-1);
  margin-top: 0;
}
.card-car__foot {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  padding: 0.625rem;
}
.card-car__button {
  font-size: 0.75rem;
  padding-inline: 0.5em;
  flex: 1 1 auto;
}

.card-docs {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 10.25rem;
  padding: 0.625rem;
  border-radius: 0.625rem;
  background: var(--neutral-4);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.card-docs__icon {
  fill: var(--white-1);
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  width: 1.5rem;
  height: 1.5rem;
}
.card-docs__date {
  color: var(--white-1);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0;
  text-transform: uppercase;
}
.card-docs__text {
  color: var(--white-a2);
  font-size: 4.125rem;
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}
.card-docs__link {
  color: var(--white-1);
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.4;
  margin-top: 0.25rem;
}
.card-docs.card-docs__name:is(:focus, :hover) {
  text-decoration: underline;
}

.card-cup {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 10.25rem;
  padding: 0.625rem;
  border-radius: 0.625rem;
  background: var(--red-1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.card-cup__icon {
  fill: var(--white-1);
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  width: 1.5rem;
  height: 1.5rem;
}
.card-cup__text {
  color: var(--white-1);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0;
  text-transform: uppercase;
  padding-right: 1.25rem;
  margin-bottom: auto;
}
.card-cup__text-item {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-top: 0.5rem;
  padding: 0.25rem;
  background: var(--white-1);
  border-radius: 0.1875rem;
}
.card-cup__text-item > svg {
  fill: var(--red-1);
  width: 0.8125rem;
  height: 0.8125rem;
  transform: rotate(-90deg);
}
.card-cup__text-item > p {
  margin-top: 0;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.2;
}

.banner {
  position: relative;
  background: var(--red-1);
  padding-block: var(--section-padding-lg) calc(var(--section-padding-lg) / 2);
}
.banner__image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.banner__body {
  position: relative;
  border-top: 1px solid var(--white-1);
  padding-top: 0.625rem;
  padding-left: var(--section-padding-lg);
  z-index: 1;
}
.banner__title {
  color: var(--white-1);
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1.2;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 0.625rem;
  padding-right: var(--section-padding-lg);
}
.banner__foot {
  display: flex;
  align-items: center;
  margin-top: 0.625rem;
}
.banner__foot::after {
  content: "";
  flex: 1 0 auto;
  height: 1px;
  width: min(100%, var(--section-padding-lg));
  margin-left: 1.25rem;
  background: var(--white-1);
}
.banner__button {
  font-size: 0.75rem;
  padding-inline: 1em;
}
@media (max-width: 48em) {
  .banner {
    padding-block: calc(var(--section-padding-lg) / 2);
  }
  .banner__body {
    padding-top: 0.25rem;
    padding-left: var(--section-padding-md);
  }
}
@media (max-width: 36em) {
  .banner__title {
    font-size: 1.25rem;
  }
  .banner__body {
    padding-top: 0.25rem;
    padding-left: var(--section-padding-sm);
  }
}

.stage {
  display: flex;
  overflow: hidden;
}
.stage[data-css-theme="winter"] {
  background: url("../images/bg-section-stage-winter.jpg") center / cover no-repeat;
}
.stage[data-css-theme="summer"] {
  background: url("../images/bg-section-stage-summer.jpg") center / cover no-repeat;
}
.stage__track {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 22.5rem;
  border-right: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  border-radius: 0 0 20px 0;
  padding: var(--section-padding-lg) var(--section-padding-lg) calc(var(--section-padding-lg) / 2) var(--section-padding-lg);
  margin-bottom: var(--section-padding-lg);
}
.stage__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.stage__config {
  color: var(--white-1);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.2;
  padding: 0.4em 0.5em 0.25em 0.5em;
  background: rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 0.375rem;
}
.stage__content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding: var(--section-padding-lg) var(--section-padding-lg) calc(var(--section-padding-lg) / 2) var(--section-padding-lg);
  margin-bottom: var(--section-padding-lg);
  border-bottom: 3px solid transparent;
}
.stage__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
  border-block: 1px solid var(--white-1);
  padding-block: 0.625rem;
}
.stage__name {
  color: var(--white-1);
  font-size: 3.125rem;
  font-style: italic;
  font-weight: 500;
  line-height: 1.2;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  margin-top: 0;
}
.stage__data {
  color: var(--white-1);
  font-size: 3.125rem;
  font-style: italic;
  font-weight: 500;
  line-height: 1.2;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  margin-top: 0;
}
.stage__body {
  margin-top: 0.875rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.stage__address {
  color: var(--white-1);
  font-size: 0.875rem;
  font-style: italic;
  font-weight: 500;
  text-decoration-line: underline;
  margin-top: 0.625rem;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.stage__props {
  margin-top: 0.875rem;
  list-style: none;
  gap: 2.5rem;
  display: flex;
  margin: 0;
  margin-top: 0.625rem;
  padding: 0;
}
.stage__props-item {
  display: flex;
  flex-direction: column;
}
.stage__props-value {
  color: var(--white-1);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}
.stage__props-label {
  color: var(--white-1);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 0.75rem;
  font-weight: 500;
}
.stage__foot {
  display: flex;
  gap: 1.25rem;
  margin-top: 1.25rem;
}
.stage__label {
  display: inline-block;
  color: var(--red-1);
  text-align: center;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.2;
  padding: 0.25em 1em;
  background-color: var(--white-1);
  border-radius: 0.375rem;
}

/* Utility styles */

.text-color-red {
  color: var(--red-1);
}
.text-color-green {
  color: var(--green-1);
}
.text-color-white {
  color: var(--white-1);
}
.text-color-black {
  color: var(--black-1);
}

.bg-red {
  background: var(--red-1);
}
.bg-gray {
  background: var(--neutral-4);
}
.bg-blue {
  background: var(--blue-1);
}
.bg-green {
  background: var(--green-1);
}
